<div class="col-md-12 full-content">

<h2>All Songs</h2>

<nav class="sorter">
  <a href="/?sort=rating">rating</a>
  <a href="/?sort=title">title</a>
  <a href="/?sort=genre">genre</a>
</nav>

<div class="main-table">
  <% @songs.each do |song| %>
    <div class="list-container">
      <div class="rating">
        <div class="votes">
          <%= song.rating %>
        </div>
        <div class="up-down-vote-container">
          <div class="upvote">
            <a href="/rating?id=<%=song.id%>&rating=1" class="fa fa-arrow-up"></a>
          </div>
          <div class="downvote">
            <a href="/rating?id=<%=song.id%>&rating=-1" class="fa fa-arrow-down"></a>
          </div>
        </div>
      </div>
      <div class="list-info">
        <div class="list-info-left">
          <div class="list-title">
            <a href="/songs/<%=song.id%>"><%= song.title %></a>
          </div>
          <div class="list-genre">
            genre: <%= song.genre %>
          </div>
        </div>
        <div class="list-info-right">
          <a target="_blank" href="http://www.youtube.com/results?search_query=<%=song.title%>">play</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

</div>